* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100hv;
    font-family: 'Poppins', sans-serif;
    background: #121213;
    place-items: center;

}

header {
    position: relative;
    width: 85%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

header .menu-box {
    width: 25%;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    float: left;
}

header .song-box {
    width: 75%;
    height: 90%;
    background: #0b1320;
    float: right;
    box-shadow: 7px 0px 2px #090f1f;

}

header .play-box {
    width: 100%;
    height: 10%;
    background-color: #111727;
    box-shadow: 10px 3px 8px #090f1f;
    float: right;
}

header .menu-box h1 {
    color: #fff;
    margin: .9em 0 0 .8em;
}

header .menu-box .playlist {
    margin: 1.5em 0 0 2.9em;

}

header .menu-box .playlist h4 {
    padding-top: 1em;
    color: #4c5262;
    cursor: pointer;
    transition: .3s linear;
}

header .menu-box .playlist i {
    font-size: 16px;
}

header .menu-box .playlist span {
    margin: 0 0 0 .5em;
    font-size: 12px;
    font-weight: 400;
}


header .menu-box .playlist h4:hover {
    color: #ffff;
}

header .menu-box h3 {
    color: #fff;
    margin: 35px 0 0 25px;
    font-size: 18px;
}

header .menu-box .menu-song {
    width: 100%;
    height: 323px;
    /* border: 1px solid #fff; */
    margin-top: .5em;
    overflow: auto;
}

header .menu-box .menu-song::-webkit-scrollbar {
    display: none;
}

header .menu-box .menu-song li {
    list-style-type: none;
    position: relative;
    padding: 15px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: .5em;
    cursor: pointer;
    transition: .3s linear;
    color: #fff;

}

header .menu-box .menu-song li:hover {
    background: rgb(105, 105, 105, .1);
}

header .menu-box .menu-song li .subtitle {
    font-size: 9px;
    font-weight: 600;
    color: #4c5262;
    margin-top: .5em;
}

header .menu-box .menu-song li img {
    width: 35px;
    height: 35px;
    margin-left: 30px;
    border-radius: 2px;
}

header .menu-box .menu-song li h5 {
    font-size: 13px;
    margin-left: 24px;
    width: 170px;
    font-weight: 730;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menu-box .menu-song li ion-icon {
    font-size: 20px;
    margin-right: 0;
}


header .play-box {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

header .play-box .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .play-box .wave .wave1 {
    width: 3px;
    height: 10px;
    background: #fff;
    margin-right: 3px;
    border-radius: 10px 10xp 0px 0px;
    animation: unset;
}

header .play-box .wave .wave1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .play-box .wave .wave1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;
}

header .play-box .active1 .wave1 {
    animation: wave .5s linear infinite;
}

header .play-box .active1 .wave1:nth-child(2) {
    animation-delay: .4s;
}

header .play-box .active1 .wave1:nth-child(3) {
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }

}

header .play-box img {
    height: 35px;
    width: 35px;
    border-radius: 2px;

}

header .play-box h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

header .play-box h5 .subtitle {
    font-size: 9px;
    font-weight: 600;
    color: #4c5262;
    margin-top: .4em;
}

header .play-box .play-icons {
    position: relative;
    width: 200px;
    height: 33px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    margin: 0 0 0 2em;
}

header .play-box .play-icons i {
    color: #fff;
    font-size: 23px;
    padding-left: .7em;
    cursor: pointer;
}


header .play-box span {
    color: #fff;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight: 400;

}

header .play-box #currentStart {
    margin: 0px 0px 0px 20px;
}

header .play-box #currentEnd {
    margin: 0px 0px 0px 0px;
}

header .play-box ion-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding-left: .7em;
}


header .play-box .play-bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 105, .1);
    margin: 0px 7px 0px 10px;
}

header .play-box .play-bar .play-bar2 {
    position: absolute;
    width: 0;
    height: 100%;
    background: #36e2ec;
    top: 0;
    transition: 1s linear;
}

header .play-box .play-bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    top: -1.5px;
    border-radius: 50%;
    left: 0%;
    transition: 1s linear;
}

header .play-box .play-bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

header .play-box .play-bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999999999999999999999999;
    /* transition: 3s linear; */
    opacity: 0;
}

header .song-box {
    z-index: 3;
}

header .song-box .nav-box {
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    margin-top: 1em;
    margin-left: 2em;
    position: relative;
}

header .song-box .nav-box nav {
    position: absolute;
    display: flex;
    align-items: flex-end;
}

header .song-box .nav-box .navbar ul {
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-top: .5em;
    margin-right: 10px;
    list-style-type: none;
}


header .song-box .nav-box .navbar li {
    color: #4c5262;
    padding-left: 3em;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s linear;
}

header .song-box .nav-box .navbar li:hover {
    color: #fff;
}

header .song-box .nav-box .navbar li:nth-child(1) {
    color: #fff;
}

header .song-box .nav-box nav ul li span {
    background: #36e2ec;
    height: 2.5px;
    width: 5em;
    position: absolute;
    border-radius: 25px;
    margin: 1.7em 2em 0 2.65em;
    left: 0;
}

header .song-box .nav-box nav .search {
    margin: .7em 10em 0;
    position: relative;
    padding: 1px 10px;
    width: 330px;
    height: 30px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
    z-index: 1;
}

header .song-box .nav-box nav .search ion-icon {
    padding-top: 4.5px;
    padding-left: 3px;
    font-size: 16px;
}

header .song-box .nav-box nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
    left: 0;
}

header .song-box .nav-box nav .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
}

header .song-box .nav-box nav img {
    position: relative;
    left: -55px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #fff;
}

header .song-box .song-section {
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    height: 85%;
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid #fff; */
    margin: 1em 0 0 0;
}

header .song-box .song-section::-webkit-scrollbar {
    display: none;
}

header .song-box .song-section h3 {
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 100%;
    margin-top: 1.5em;
    margin-left: 1.5em;
    /* border: 1px solid #fff; */
}

header .song-box .song-section .fresh-music-section {
    height: 200px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    overflow: auto;
    /* margin-left: 1.5em; */
    scroll-behavior: smooth;
}

header .song-box .song-section .fresh-music-section .row .card .bi {
    font-size: 17px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    color: #fff;

}

header .song-box .song-section .fresh-music-section .row .card:hover .bi {
    opacity: 1;
}

header .song-box .song-section .fresh-music-section::-webkit-scrollbar {
    display: none;
}

header .song-box .song-section .fresh-music-section .row {
    height: 200px;
    width: 170px;
    /* border: 1px solid #fff; */
    margin-left: 6px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-box .song-section .fresh-music-section .row:hover {
    background: rgb(105, 105, 105, .1);
}

header .song-box .song-section .fresh-music-section .row .card {
    text-align: center;
    align-items: center;
}


header .song-box .song-section .fresh-music-section .row .card img {
    height: 130px;
    width: 140px;
    /* border: 1px solid #fff; */
    align-items: center;
    margin: .5em 0 0 0;
    border-radius: 2px;
}

header .song-box .song-section .fresh-music-section .row .card h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

header .song-box .song-section .fresh-music-section .row .card h5 .subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #4c5262;
    margin-top: .4em;
}

header .song-box .song-section .chill-music-section {
    height: 200px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    overflow: auto;
    /* margin-left: 1.5em; */
    scroll-behavior: smooth;
    overflow-y: hidden;
}

header .song-box .song-section .chill-music-section .row .card .bi {
    font-size: 17px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    color: #fff;

}

header .song-box .song-section .chill-music-section .row .card:hover .bi {
    opacity: 1;
}

header .song-box .song-section .chill-music-section .row:hover {
    background: rgb(105, 105, 105, .1);
}

header .song-box .song-section .chill-music-section .row {
    height: 200px;
    width: 170px;
    /* border: 1px solid #fff; */
    margin-left: 6px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-box .song-section .chill-music-section::-webkit-scrollbar {
    display: none;
}

header .song-box .song-section .chill-music-section .row .card {
    text-align: center;
    align-items: center;
}


header .song-box .song-section .chill-music-section .row .card img {
    height: 130px;
    width: 140px;
    /* border: 1px solid #fff; */
    align-items: center;
    margin: .5em 0 0 0;
    border-radius: 2px;
}

header .song-box .song-section .chill-music-section .row .card h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

header .song-box .song-section .chill-music-section .row .card h5 .subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #4c5262;
    margin-top: .4em;
}

header .song-box .song-section .bighits-music-section {
    height: 200px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    overflow: auto;
    /* margin-left: 1.5em; */
    scroll-behavior: smooth;
}

header .song-box .song-section .bighits-music-section .row .card .bi {
    font-size: 17px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    color: #fff;

}

header .song-box .song-section .bighits-music-section .row .card:hover .bi {
    opacity: 1;
}

header .song-box .song-section .bighits-music-section::-webkit-scrollbar {
    display: none;
}

header .song-box .song-section .bighits-music-section .row {
    height: 200px;
    width: 170px;
    /* border: 1px solid #fff; */
    margin-left: 6px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-box .song-section .bighits-music-section .row:hover {
    background: rgb(105, 105, 105, .1);
}

header .song-box .song-section .bighits-music-section .row .card {
    text-align: center;
    align-items: center;
}


header .song-box .song-section .bighits-music-section .row .card img {
    height: 130px;
    width: 140px;
    /* border: 1px solid #fff; */
    align-items: center;
    margin: .5em 0 0 0;
    border-radius: 2px;
}

header .song-box .song-section .bighits-music-section .row .card h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

header .song-box .song-section .bighits-music-section .row .card h5 .subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #4c5262;
    margin-top: .4em;
}

header .song-box .song-section .popular-artists-section {
    height: 200px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    overflow: auto;
    /* margin-left: 1.5em; */
    scroll-behavior: smooth;
}


header .song-box .song-section .popular-artists-section::-webkit-scrollbar {
    display: none;
}

header .song-box .song-section .popular-artists-section .row {
    height: 200px;
    width: 170px;
    /* border: 1px solid #fff; */
    margin-left: 6px;
    cursor: pointer;
    transition: .3s linear;
}

header .song-box .song-section .popular-artists-section .row:hover {
    background: rgb(105, 105, 105, .1);
}

header .song-box .song-section .popular-artists-section .row .card {
    text-align: center;
    align-items: center;

}


header .song-box .song-section .popular-artists-section .row .card img {
    height: 130px;
    width: 140px;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    margin-top: 35px;
}