<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/playstyle.css' />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>

</head>

<body>
    <header>
        <div class="menu-box">
            <h1>MusicPLAYER</h1>
            <div class="playlist">
                <h4><ion-icon name="musical-notes"></ion-icon><span>Playlist</span></i></h4>
                <h4><ion-icon name="heart"></ion-icon><span>Liked Songs</span></i></h4>
                <h4><ion-icon name="radio-button-on"></ion-icon><span>Recommended</span></i></h4>
            </div>
            <h3>Trending Songs</h3>
            <div class="menu-song">
                <li class="songItems">
                    <img src="/images/1.jpg" alt="">
                    <h5>On my way <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"> </i>
                </li>
                <li class="songItems">
                    <img src="/images/2.jpg" alt="">
                    <h5>Alone<div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                </li>
                <li class="songItems">
                    <img src="/images/3.jpg" alt="">
                    <h5>Blinding Ligths<div class="subtitle">The Weekend</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                </li>
                {{!-- <li class="songItems">
                    <img src="/images/4.jpg" alt="">
                    <h5>Hukum<div class="subtitle">Anirudh</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                </li>
                <li class="songItems">
                    <img src="/images/1.jpg" alt="">
                    <h5>What makes you beautiful<div class="subtitle">One Direction</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                </li>
                <li class="songItems">
                    <img src="/images/3.jpg" alt="">
                    <h5>After Hours<div class="subtitle">The Weekend</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                </li>
                <li class="songItems">
                    <img src="/images/2.jpg" alt="">
                    <h5>Chekuthan<div class="subtitle">Ribin Richard</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                </li> --}}
            </div>
        </div>

        <div class="song-box">
            <div class="nav-box">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li>
                            Discover<span></span>
                        </li>
                        <li class="nav-item">
                            My Library</a>
                        </li>
                    </ul>

                    {{!-- Searchingggg --}}

                    <div class="search">
                        <ion-icon class="bi" name="search"></ion-icon>
                        <input type="text" placeholder="Search Music">
                        <div class="search-results">
                            {{!-- <a href="" class="playListPlay">
                                <img src="img/1.jpg" alt="">
                                <div class="content">
                                    On My Way
                                    <div class="subtitle">Alan Walker</div>
                                </div>
                            </a> --}}
                        </div>
                    </div>
                    <div class="user">
                        <a href="/logout"><img src="/images/user.gif" alt=""></a>
                    </div>
                </nav>
            </div>
            <div class="song-section">
                <h3>Fresh new musics</h3>
                <div class="fresh-music-section">
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                </div>
                <h3>Chill Songs</h3>
                <div class="chill-music-section">
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                </div>
                <h3>Big Hits!</h3>
                <div class="bighits-music-section">
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                    <div class="row" id="songItems">
                        <div class="card">
                            <img class="card-img-top" src="/images/1.jpg" alt="">
                            <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                            <h5>On my way<div class="subtitle">Alan Walker</div>
                            </h5>
                        </div>
                    </div>
                </div>
                <h3>Popular Artists</h3>
                <div class="popular-artists-section">
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/alanwalker.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/travis.jpg" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/weekend.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/sushin.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/anirudh.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/travis.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="/images/alanwalker.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="play-box">
            <img src="/images/1.jpg" class="play-image" alt="" id="play-img">
            <h5 id="play-title">
                On MY Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <div class="play-icons">
                <i class="bi-repeat" id="repeat"></i>
                <i class="bi bi-skip-start-fill" id="back"></i>
                <i class="bi bi-play-fill" id="music-play"></i>
                <i class="bi bi-skip-end-fill" id="next"></i>
                <i class="bi bi-suit-heart" id="heart" onclick="likedSong('{{this._id}}')">  </i>
            </div>
            <span id="currentStart"></span>
            <div class="play-bar">
                <input type="range" id="seek" min="0" max="100">
                <div class="play-bar2" id="play-bar2"></div>
                <div class="dot" id="play-dot"></div>
            </div>
            <span id="currentEnd"></span>
            <div class="wave" id="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>

        </div>
    </header>
    <script src="/javascripts/script.js"></script>
    <script src="https://kit.fontawesome.com/6b3f1ac7c4.js" crossorigin="anonymous"></script>
</body>
</html>