<!-- partial:index.partial.html -->
<section class="">
    <form action="/signupaction" method="post">
        <div class="screen-1">
            {{!-- <h1 class="logo" style="margin-top: -2em;"></h1> --}}
            <div class="name">
                <label for="name">Username</label>
                <div class="sec-2">
                    <ion-icon name="card-outline"></ion-icon>
                    <input type="text" name="Name" placeholder="Username" />
                </div>
            </div>
            <div class="email">
                <label for="email">Email Address</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="Email" placeholder="Username@gmail.com" />
                </div>
            </div>
            <div class="password">
                <label for="password">Password</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input class="pas" type="password" name="Password" placeholder="············" />
                </div>
            </div>
            <button class="login">Sign up</button>
            <div class="footer">
                <a>Welcome to -</a>
                <span>Music PLAYER</span>
            </div>
        </div>
    </form>
</section>